spring:
  application:
    name: admin-server
  boot:
    admin:
      notify:
        mail:
          from: sothearatest@gmail.com
          to: leangsotheara@gmail.com
      discovery:
        ignoredServices: 
          admin-server
        converter:
          managementContextPath: /manage
  mail:
    host: smtp.gmail.com
    port: 587
    username: sothearatest@gmail.com
    password: thearaitc2017
    properties:
      mail.smtp:
        auth: true
        starttls.enable: true
        starttls.required: true
        ssl.trust: smtp.gmail.com
      
server:
  port: 9001

eureka:
  instance:
    statusPageUrlPath: /manage/info
    healthCheckUrlPath: /manage/health
    leaseRenewalIntervalInSeconds: 10
  client:
    fetchRegistry: true
    registerWithEureka: true
    registryFetchIntervalSeconds: 5
    serviceUrl:
       defaultZone: http://localhost:9000/eureka
 
management:
  context-path: /manage 
  security:
    enabled: false    

endpoints:
  sensitive: true
  shutdown:
    enabled: true
  restart:
    enabled: true
      
logging: 
  config: ${app.home}/${spring.application.name}/config/logback.xml
